@model Community
@{
    ViewBag.Title = "Create Community";
}
<h1>Create</h1>

<h4>Community</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.EditorFor(m => m.ID)
            @Html.EditorFor(m => m.Title)
            @Html.EditorFor(m => m.Budget)

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
